In [1]:
import pandas as pd

# making data frame from csv file 
df = pd.read_csv('index_keywords.csv',encoding = "ISO-8859-1")

In [2]:
df.head()

,Title,Index Keywords,FOR,field_name
0,Histograms of oriented gradients for human det...,Computer vision; Database systems; Image analy...,801,Artificial Intelligence and Image Processing
1,Deep residual learning for image recognition,Complex networks; Computer vision; Image recog...,801,Artificial Intelligence and Image Processing
2,Beyond bags of features: Spatial pyramid match...,Histograms; Image representation; Natural scen...,801,Artificial Intelligence and Image Processing
3,Going deeper with convolutions,Budget control; Computer vision; Convolution; ...,801,Artificial Intelligence and Image Processing
4,Rich feature hierarchies for accurate object d...,Complex networks; Computer vision; Neural netw...,801,Artificial Intelligence and Image Processing

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27470 entries, 0 to 27469
Data columns (total 4 columns):
Title             27470 non-null object
Index Keywords    23814 non-null object
FOR               27470 non-null int64
field_name        27470 non-null object
dtypes: int64(1), object(3)
memory usage: 858.5+ KB

In [4]:
df.shape

(27470, 4)

In [5]:
df.columns

Index(['Title', 'Index Keywords', 'FOR', 'field_name'], dtype='object')

In [6]:
df.columns = ['title', 'index_keywords','FOR', 'field_name']

In [7]:
df.columns

Index(['title', 'index_keywords', 'FOR', 'field_name'], dtype='object')

In [8]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(8,6)) # 800 * 600

df.groupby('field_name').index_keywords.count().plot.bar(ylim=0)

plt.show() # run 2 times, if the figure doesn't show up

# select volumns

In [9]:
selected_columns = ["index_keywords", "field_name"]

df = df[selected_columns]

In [10]:
df.shape

(27470, 2)

In [11]:
df.columns

Index(['index_keywords', 'field_name'], dtype='object')

In [12]:
df.head()

,index_keywords,field_name
0,Computer vision; Database systems; Image analy...,Artificial Intelligence and Image Processing
1,Complex networks; Computer vision; Image recog...,Artificial Intelligence and Image Processing
2,Histograms; Image representation; Natural scen...,Artificial Intelligence and Image Processing
3,Budget control; Computer vision; Convolution; ...,Artificial Intelligence and Image Processing
4,Complex networks; Computer vision; Neural netw...,Artificial Intelligence and Image Processing

# 3. add a new id column

In [13]:
# add a new column
# add a column encoding the product as an integer 
df['category_id'] = pd.factorize(df['field_name'])[0]

In [14]:
df.head()

,index_keywords,field_name,category_id
0,Computer vision; Database systems; Image analy...,Artificial Intelligence and Image Processing,0
1,Complex networks; Computer vision; Image recog...,Artificial Intelligence and Image Processing,0
2,Histograms; Image representation; Natural scen...,Artificial Intelligence and Image Processing,0
3,Budget control; Computer vision; Convolution; ...,Artificial Intelligence and Image Processing,0
4,Complex networks; Computer vision; Neural netw...,Artificial Intelligence and Image Processing,0

In [15]:
from io import StringIO

category_id_df = df[['field_name', 'category_id']].drop_duplicates().sort_values('category_id')

category_id_df

                                           field_name  category_id
0       Artificial Intelligence and Image Processing             0
3949                               Computer Software             1
7797                                     Data Format             2
11778                          Distributed Computing             3
15728                            Information Systems             4
19700                Library and Information Studies             5
23578             Computation Theory and Mathematics             6

# get two dict

In [16]:
category_to_id = dict(category_id_df.values)
category_to_id

{' Artificial Intelligence and Image Processing ': 0,
 'Computer Software ': 1,
 'Data Format ': 2,
 'Distributed Computing ': 3,
 'Information Systems ': 4,
 'Library and Information Studies ': 5,
 ' Computation Theory and Mathematics ': 6}

In [17]:

id_to_category = dict(category_id_df[['category_id', 'field_name']].values)
id_to_category

{0: ' Artificial Intelligence and Image Processing ',
 1: 'Computer Software ',
 2: 'Data Format ',
 3: 'Distributed Computing ',
 4: 'Information Systems ',
 5: 'Library and Information Studies ',
 6: ' Computation Theory and Mathematics '}

# 5. vecterize

In [26]:
df.loc[0,:]

index_keywords    Computer vision; Database systems; Image analy...
field_name            Artificial Intelligence and Image Processing
category_id                                                       0
Name: 0, dtype: object

In [27]:
max_len_event_id = df.index_keywords.apply(len).idxmax()

TypeError: object of type 'float' has no len()