### range(6) and list [0,1,2,3,4,5]

In [34]:
# elements inside 


print('list_1','-'*20)

list_1 = [0,1,2,3,4,5]
for x in list_1:
    print(x)
    
print('range(6)','-'*20)
for x in range(6):
    print(x)

list_1 --------------------
0
1
2
3
4
5
range(6) --------------------
0
1
2
3
4
5

In [26]:


type(list_1)

list

In [25]:

type(range(6))

range

### function

In [29]:
# define function

def good_name_printer(people_name):
  print( people_name + ', nice to meet you!')


# use function

good_name_printer("Tobias")
good_name_printer("Linus")

Tobias, nice to meet you!
Linus, nice to meet you!
Sam, nice to meet you!

NoneType

### class

In [32]:
import datetime
now = datetime.datetime.now()



# define class
class Person:
    # define property: name, age, etc ...
    def __init__(self, name, birthyear):
     # define two parameters, user gives two string, accept them and give them as the personal names of the objects.
     self.name = name
     self.birthyear = birthyear
     self. age = now.year - birthyear

    
# use class to make people 
person_no1 = Person("han liu", 1990)
print("name:", person_no1.name)
print("birth yeart:", person_no1.birthyear)
print("age:", person_no1.age)

name: han liu
birth yeart: 1990
age: 29